.fondo-principal{
  width: 100vw;
  min-height: 250vw;
  max-height: 10000vw;
  background-image: url(./main-fondo.jpg) !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
}

.container-fluid{
  width: 100%;
  padding-left: 0px;
  margin-left:0px;
  margin-right: 0px;
  padding-right: 0px;
}

.descripcion{
  padding-left: 15px !important;
  padding-right: 15px !important;
  
}

.buscarProd{
  width: 100%;

}

.card{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.filtro{
  font-size: 3rem;
  color: black;
}

.nombreProd{
  font-size: 1.8em !important;
}

.precioProd{
  font-size: 0.8em !important;
}

.cantidadProd{
  font-size: 0.8em !important;
}

.accionProd{
  padding-left: 0px;
  padding-right: 0px;
}

.unidades{
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-size: 1.35em;
  width: 50% !important;
  margin-left: 5px;
}

.jumbotron{
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px !important;
  padding-right: 15px !important;
  background-color: #fff !important;
  margin-bottom: 0px !important;
}

.imgProd{
  border: 0px;
}

.collection{
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-height: 40rem !important;
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.btn-sm{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.btn-md, .btn-info{

  min-height: 38px;
   
}

.btn-vermas{
  width: 100% !important;
}

@media (min-width: 768px){
  .collection{
    max-width: 24% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%;
    
  }

  .imgProd{
    min-height: 40%;
    max-height: 50%;
  }

}

@media(max-width:991px){
  .accionProd{
    width: 100% !important;
  }

  .vermas, .anadir{
    width: 100% !important;
  }


  
}

@media (min-width: 992px){
  .btn-md, .btn-info{
    padding-left: 9px !important;
    font-size: 0.750rem !important;
  }



}

