.rounded-circle{
  width: 45px;
  height: 45px;
}

nav{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
  font-size: 12px;
  border-radius: .3rem;
}

.bg-light, .navbar-light {
  background-color: #fff!important;
}

.navbar-brand{
  font-size: 15px;
  font-weight: bold;
}

@media (min-width:1092px){
  .email{

    padding-top: 15px !important;
  }
}