.title{
  padding-left: 15px;
}

.imgProd{
  width: 100%;
  max-height: 277px;
}

.precioProducto, .cantidadProducto{
    font-size: 1.5rem;
}

.back{
    padding-left: 15px !important;
}

.contProductos{
    padding-right: 0px !important;
}


