.inicioSe{
  text-align: center;
  font-size: 5em;
}

.brands-buttons{
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0, 0);
  padding: 0px 0px 0px 0px !important;
}

.btn-facebook, .btn-twitter, .btn-google{
  width: 33.33333%;
}

.btn-google:hover{
  background-color: #b82f1a;
}

.btn-facebook:hover{
  background-color: #1a3e8d;
} 

.btn-twitter:hover{
  background-color: #2f8bd1;
}

.btn-success, .btn-secondary, .btn-info, .btn-warning{
  color: #fff !important;
  width: 100%;
}

.btn-facebook{
  background-color: #3b5998;
  color: #fff;
}

.btn-google{
  background-color: #dd4b39;
  color: #fff;
}

.btn-twitter{
  background-color: #55acee;
  color: #fff;
}

.card{
  width: 100%;
  background-color: #fff0 !important;
  border: 0px !important;
}

.card-body{
  padding: 8% 0px 8% 0px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.enviar{
  margin-top: 8%;
}
.error{
    color: red;
}

.fondo{
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0, 0);
  color: #fff;
}

.principal{
  margin-left: 25%;
  width: 40%;
  transform: translateY(50%);
}

.registrate{
  margin-top: 8px;
  background-color: #fff0 !important;
}

.FondoPrincipal{
  height:300vw;
  width: 100vw;
  margin-left:0px;
  background-image: url(./login-fondo.jpg) !important;
  background-position: center center;
  background-size: cover;
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
